.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
}
.marg {
    margin: 1em;
}
.action {
    align-content: flex-end;
}
.lrg {
    font-size: 1.2em;
}
.cap {
    font-variant: small-caps;
}
