
<div class="col">
  <div>
    <h2>Select Your Course</h2>
    <div class="row">
      <div *ngFor="let course of courses">
        <button mat-raised-button color="primary" (click)="getCourseData(course.id)">{{ course.name }}</button>
      </div>
    </div>
  </div>

  <div *ngIf="this.course">
    <h2>Select a Tee Box</h2>
    <select name="tees" id="tee" (change)="setTeeId($event.target.value)">
      <option value="">Select a Tee</option>
      <option *ngFor="let tee of course.holes[0].teeBoxes" value="{{ tee.teeTypeId }}">{{ tee.teeType }}</option>
    </select>
  </div>

  <app-add-players [teeId]="teeId"></app-add-players>
  
</div>
<div>
  <button routerLink="/game">Start Game</button>
</div>
