
.cent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainBody {
    display: flex;
    flex-direction: row;
}
.row {
    display: flex;
}
.col {
    display: flex;
    width: 30px;
    flex-direction: column;
}