<div class="cent">
  <h1> Course Title Here</h1>

  <!-- header -->
  <div class="row" >

    <div>&nbsp;</div>
    
    <div class="holes">
      <div >1st hole</div>
      <!-- *ngFor=" " for holes 1-9 -->
    </div>
    
    <div>Out Score</div>
    
    <div class="holes">
      <div>10th hole</div>
      <!-- *ngFor=" " for holes 10-18 -->
    </div>
    
    <div>In Score</div>
    
    <div>Total</div>
  
  </div>

  <!-- Yardage -->
  <div class="row">
  
    <div>Yardage</div>
  
    <div class="holes">
      <div>yards</div>
      <!-- *ngFor=" " for holes 1-9 -->
    </div>
  
    <div>&nbsp;</div>
  
    <div class="holes">
      <div>yards</div>
      <!-- *ngFor=" " for holes 10-18 -->
    </div>
  
    <div>&nbsp;</div>
  
    <div>Total Yards</div>
  
  </div>

  <!-- Handicap -->
  <div class="row">
  
    <div>Handicap</div>
  
    <div class="holes">
      <div>caps</div>
      <!-- *ngFor=" " for holes 1-9 -->
    </div>
  
    <div>&nbsp;</div>
  
    <div class="holes">
      <div>caps</div>
      <!-- *ngFor=" " for holes 10-18 -->
    </div>
  
    <div>&nbsp;</div>
  
    <div>&nbsp;</div>
  
  </div>

  <!-- par -->
  <div class="row">
  
    <div>Par</div>
  
    <div class="holes">
      <div>pars</div>
      <!-- *ngFor=" " for holes 1-9 -->
    </div>
  
    <div>Out Par</div>
  
    <div class="holes">
      <div>pars</div>
      <!-- *ngFor=" " for holes 10-18 -->
    </div>
  
    <div>In Par</div>
  
    <div>Total Par</div>
  
  </div>

</div>